---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Enseignements" sideBarActiveItemID="ressources">

  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Ressources personnelles</div>
    <div class="py-2">
      <text class="text-lg">
        Vous retrouverez ici des <b>fiches mémoires</b> en informatique théorique, des <b>cours de programmation</b>, 
        ainsi que mes <b>fiches d'approfondissement</b> dans les domaines qui m'intéressent.
      </text>
    </div>
  </div>
  <div class="divider my-0"></div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Mes cours de programmation</div>
  </div>

  <HorizontalCard
    title="Cours de OCaml avancé"
    img="/ressources/ocaml.png"
    desc="Attendus au programme de MP2I/MPI et compléments de programmation orienté objet. Les parties sur le hachage et la POO seront bientôt disponibles"
    url="https://iryann.github.io/ressources/Cours_d_Ocaml.pdf"
    badge="En cours de rédaction"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Fiche de syntaxe en Python"
    img="/ressources/python.png"
    desc="Syntaxe de base du pytjon."
    url="https://iryann.github.io/ressources/Python.pdf"
    badge="Non à jour"
  />
 
  <div class="divider my-0"></div>
  
  <div>
    <div class="text-3xl w-full font-bold mb-5">Mes fiches mémoire</div>
  </div>
  <HorizontalCard
      title="Algèbre de Boole"
      img="/ressources/nuage-de-mots%20(1).png"
      desc="Rappel de calcul propositionnel"
      url="https://iryann.github.io/ressources/CalculP1.pdf"
      badge="v1"
      
    />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Mes cours de mathématiques</div>
  </div>
  <HorizontalCard
    title="EDS - Terminale"
    img="/ressources/maths-1.png"
    desc="Attendus au programme"
    url="https://iryann.github.io/ressources/Coursmaths.pdf"
    badge="En cours de complétion"
    
  />
<div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Mes cours de physique-chimie</div>
  </div>
  <HorizontalCard
    title="Cours Chimie - Première"
    img="/ressources/ChimieIM.png"
    desc="COURS - Etude de la matière"
    url="https://iryann.github.io/ressources/ChimieP.pdf"
    badge="En cours de complétion"
    
  />
   <HorizontalCard
    title="TD Chimie - Première"
    img="/ressources/ChimieIM.png"
    desc="TD - Etude de la matière"
    url="https://iryann.github.io/ressources/TD_Chimie.pdf"
    badge="V1"
    
  />
</BaseLayout>






