---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services</div>
  </div>

  <HorizontalCard
    title="Cours particuliers"
    img="/post_img.webp"
    desc="Reprises des attendus du programme et/ou approfondissement en Mathématiques, Informatique, Physique."
    badge="Lycée / L1 / Mathsup"
    url="https://www.leboncoin.fr/cours_particuliers/2392406090.htm"
  />
  <div class="divider my-0"></div>
  
</BaseLayout>
